<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title><%= title %></title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="stylesheets/style.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel='stylesheet' href='/stylesheets/style.css' />

<script type="text/javascript">

$(document).ready(function() {

		// current position check
		if("<%= fb_obj.work[0].position.name %>" != null){
			$('#current_position').val("<%= fb_obj.work[0].position.name %>");
		}
		else{
			$('#current_position').val("unemployed");
		}

		//email address check
		if("<%= fb_obj.email %>" != null){
			$('#email_address').val("<%= fb_obj.email %>");
		}
		else{
			$('#email_address').val("No Email");
		}

		//first name check
		if("<%= fb_obj.first_name %>" != null){
			$('#name').val("<%= fb_obj.first_name %>");
		}
		else{
			$('#name').val("No first name found");
		}

		//last name check
		if("<%= fb_obj.last_name %>" != null){
			$('#surname').val("<%= fb_obj.last_name %>");
		}
		else{
			$('#surname').val("No surname found");
		}

		//birthdate check
		if("<%= fb_obj.birthday %>" != null){
			$('#birthdate').val("<%= fb_obj.birthday %>");
		}
		else{
			$('#birthdate').val("No birthdate found");
		}

		$.get("https://api.genderize.io/?name=" + "<%= fb_obj.first_name %>", function(data, status) {
			if(data.gender == "male"){
				$('#gender').val("Male");
			}
			else {
				$('#gender').val("Female");
			}
		})
	  .done(function() {
			//
	  })
	  .fail(function() {
			//
	  })
	  .always(function() {
	    //
	  });

});
</script>

</head>
<body style="background: #5894FB;">

	<custom-navbar data-navbar_page="profile_account"></custom-navbar>

	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3>Profile Description Fields</h3>
		</div>
		<div class="panel-body">
			<div class="col-lg-6">

				<div class="space"></div>

				<div class="panel panel-primary">
		        	<div class="panel-heading text-center">
				 		PERSONAL DETAILS
				 	</div>
				</div>

				<div class="row">
					<div class="col-lg-10">
						<div class="input-group input-group-lg">
							<span class="input-group-addon" id="sizing-addon1">Name</span>
							<input id="name" type="text" class="form-control" placeholder="Name"
								aria-describedby="sizing-addon1">
						</div>
					</div>
				</div>

				<br>

				<div class="row">
					<div class="col-lg-10">
						<div class="input-group input-group-lg">
							<span class="input-group-addon" id="sizing-addon2">Surname</span>
							<input id="surname" type="text" class="form-control" placeholder="Surname"
								aria-describedby="sizing-addon1">
						</div>
					</div>
				</div>

				<br>

				<div class="row">
					<div class="col-lg-10">
						<div class="input-group input-group-lg">
							<span class="input-group-addon" id="sizing-addon4">Gender</span>
							<input id="gender" type="text" class="form-control" placeholder="Gender"
								aria-describedby="sizing-addon1">
						</div>
					</div>
				</div>

				<br>

				<div class="row">
					<div class="col-lg-10">
						<div class="input-group input-group-lg">
							<span class="input-group-addon" id="sizing-addon3">Email</span>
							<input id="email_address" type="email" class="form-control" placeholder="Email"
								aria-describedby="sizing-addon1">
						</div>
					</div>
				</div>

				<br>

				<div class="row">
					<div class="col-lg-10">
						<div class="input-group input-group-lg">
							<span class="input-group-addon" id="sizing-addon2">Birthdate</span>
							<input id="birthdate" type="date" class="form-control" placeholder="Birthdate"
								aria-describedby="sizing-addon1">
						</div>
					</div>
				</div>

				<br>

				<div class="row">
					<div class="col-lg-10">
						<div class="input-group input-group-lg">
							<span class="input-group-addon" id="sizing-addon4">Current Position</span>
							<input id="current_position" class="form-control" placeholder="Current Position"
								aria-describedby="sizing-addon1">
						</div>
					</div>
				</div>

				<br>

				<div class="row">
					<div class="col-lg-10">
						<div class="input-group input-group-lg">
							<span class="input-group-addon" id="sizing-addon3">Known Languages</span>
							<input id="known_languages" type="text" class="form-control" placeholder="Language(s)"
								aria-describedby="sizing-addon3">
						</div>
					</div>
				</div>

				<br>

				<div class="row">
					<div class="col-lg-10">
						<div class="input-group input-group-lg">
							<span class="input-group-addon" id="sizing-addon4">Telephone Number</span>
							<input id="mobile_phone_number" type="text" class="form-control" placeholder="Telephone Number"
								aria-describedby="sizing-addon1">
						</div>
					</div>
				</div>

				<br>

			</div>
		</div>
	</div>
	</div>
</body>
</html>
